//%h1= i18n.translate "pages.contact.title"
//%p= I18n.translate 'pages.contact.intro'
= t '.title'
%br
= I18n.default_locale
-  parsed_locale = request.subdomains.first
-#- I18n.available_locales.each do |sd|
  = sd
  %br
%table
  %tr
    %th key
    %th value
  - for item in request.env  
    %tr
      %td= item[0] 
      %td= item[1] 
