#langswitch
  .nav
    %ul
      %li
        //= link_to "de", "#{APP_CONFIG[:deutsch_website_url]}#{request.env['REQUEST_URI']}"
        = link_to "de", "#{request.env['REQUEST_URI']}"
      %li
        = link_to "en", "#"##{APP_CONFIG[:deutsch_website_url]}#{request.env['REQUEST_URI']}"
      %li
        = link_to "fr", "#"#{APP_CONFIG[:deutsch_website_url]}#{request.env['REQUEST_URI']}"

