#navi
  .navi
    = link_to "Start", 		home_path, 	:class => "navi"
  .navi
    = link_to "Produkte", 	"#", 		:class => "navi"
  .navi
    = link_to "Webshop", 	"#", 		:class => "navi"
  .navi
    = link_to "Anfahrt", 	"#", 		:class => "navi"
  .navi
    = link_to "Impressum", 	impressum_path, :class => "navi"
  .navi
    = link_to "Kontakt", 	contact_path, :class => "navi"

