#navi
  -if @current_user && (@current_user.access_level > 4)
    .navi.admin_style
      = link_to t("navigation.userlist"), users_path   ,:class => "navi"
  .navi
    = link_to t("navigation.start"), 	home_path, 	:class => "navi"
  .navi
    = link_to t("navigation.roastery"),	"#", 		:class => "navi"
  .navi
    = link_to t("navigation.coffee"), 	"#", 		:class => "navi"
  .navi
    = link_to t("navigation.webshop"), 	"#", 		:class => "navi"
  .navi
    = link_to t("navigation.impressum"),impressum_path, :class => "navi"
  .navi
    = link_to t("navigation.contact"), 	contact_path, :class => "navi"

